:root {
    --font-family-headings: 'SF Pro Display', -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-weight-headings: 700;
    --font-family-body: Lora, sans-serif;
    --font-weight-body: 400;
    --font-size-body-offset: 1px;
    --font-preset-heading: sans;
    --font-preset-body: fancy_serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-headings);
}

body {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: calc(1rem + var(--font-size-body-offset));
}

#map { 
    height: 500px; 
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ccc;
}

.leaflet-sidebar-pane.active .leaflet-sidebar-header {
    background-color: #0b3954;
    color: #fff;
}

.tabs i {
    transition: background-color 0.3s, color 0.3s; /* Suaviza el cambio de color */
}

/* Evita que el fondo del tab activo cubra el icono */
.leaflet-sidebar-tabs > li.active,
.leaflet-sidebar-tabs > ul > li.active {
    background-color: #0b3954 !important; /* Quita el fondo azul */
    color: #fff !important; /* Mantiene el color del texto normal */
}

/* Aplica el color solo al icono */
.leaflet-sidebar-tabs > li.active i {
    background-color: #0b3954 !important; /* Color de fondo del icono */
    color: #fff !important; /* Color del icono */
    border-radius: 5px;
    padding: 5px;
}

.leaflet-sidebar-tabs > li.active i {
    display: inline-block !important;
}

.leaflet-tile {
    filter: grayscale(100%);
}